<html>
<head>
    <title>{% block titulo %}Template{% endblock %}</title>
</head>
<body>

{% block aplicacao %}
    <h1>Essa é a nossa aplicação</h1>
{% endblock %}

{% block conteudo %}{% endblock %}

<footer>Todos os direitos reservados.</footer>

</body>
</html>